body {
  font-family: monoRegular;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@font-face {
  font-family: monoRegular;
  src: url(src/fonts/GT-Pressura-Mono-Regular.otf);
}

@font-face {
  font-family: monoRegularItalic;
  src: url(src/fonts/GT-Pressura-Mono-Regular-Italic.otf);
}

@font-face {
  font-family: monoBold;
  src: url(src/fonts/GT-Pressura-Mono-Bold.otf);
}

@font-face {
  font-family: monoBoldItalic;
  src: url(src/fonts/GT-Pressura-Mono-Bold-Italic.otf);
}

@font-face {
  font-family: monoLight;
  src: url(src/fonts/GT-Pressura-Mono-Light.otf);
}

@font-face {
  font-family: monoLightItalic;
  src: url(src/fonts/GT-Pressura-Mono-Light-Italic.otf);
}
