* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: left;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 4 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 40%; /* IE 10 */
  flex: 40%;
  padding: 4 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
