@font-face {
    font-family: "Momcake";
    src: url("../assets/fonts/momcake/MomcakeBold-WyonA.otf");
}

@font-face {
    font-family: "Singo";
    src: url("../assets/fonts/singo/Singo-eZnze.ttf");
}

@font-face {
    font-family: "Typo";
    src: url("../assets/fonts/typo/TypoGrotesk-rqop.ttf");
}

body {
    margin: 0;
}

#header {
    background-color: white; /* Grey background */
    color: black;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    z-index: 69;
}

.basic-grid {
    display: grid;
    grid-gap: 0;

    padding: 18% 10% 5% 10%;
    grid-template-columns: repeat(auto-fit, minmax(0px, 450px));

    justify-content: space-evenly;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 2% 0 2% 0;
}

.item img {
    flex: 1;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.paragraph {
    font-family: "Times New Roman", Serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

#image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    cursor: pointer;
}

#image-modal img {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 80%;
    object-fit: contain;
}

#name {
    font-family: "Singo";
    font-size: 250px;
}